<div id="statistics">
  <p>Average Age: <%= @avg_age %></p>
</div>

<% @astronauts.each do |astronaut| %>
  <div id="astronaut-<%= astronaut.id %>">
    <p>Name: <%= astronaut.name %></p>
    <p>Age: <%= astronaut.age %></p>
    <p>Job: <%= astronaut.job %></p>
    <div class="missions">
      <h3>Missions:</h3>
      <ul>
        <% astronaut.missions.each do |mission| %>
          <li> <%= mission.title %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>